
.hero {
    background-image: url("../../assets/pp.png");
    width: 80%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin:190px auto;
    position:relative;
    
}
.hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    z-index: 1;
}
.hero-container{
    position: relative;
    z-index: 2;
    color: white;
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align: center;
    padding-top: 20px;
}
.hero-container h1{
    margin-bottom:20px;
}
.hero-container a{
    background:var(--header-color);
    padding:10px;
    margin:20px;
    color:var(--text-color-white);
    text-decoration:none;
    border-radius:10px;
    transition:all 0.3s ease-in-out;
}
.hero-container a:hover{
    background:var(--text-color-white);
    color:var(--header-color);
}
.hero-container-text{
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    justify-content:center;
}
.hero-container-text p{
    padding:10px;
    transition:all 0.8s ease-in-out;
}
.hero-container-text p:hover{
    background:black;
    font-size:1.2rem;
}
.hero-container-text span{
    margin:20px;
}