footer{
    background:var(--header-color);
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:30px;
}
footer p{
    color:white;
    padding:20px;
}
footer .social-media a{
    padding:10px;
    font-size:var(--font-size_2);
    color:white;
}
footer .legal a{
    padding:10px;
    font-size:var(--font-size_2);
    color:white;
    text-decoration:none;
}
footer .legal a:hover{
    text-decoration:underline;
}